/* html {
    background-color: rgb(41, 24, 71);
} */

.login-form-container {

    text-align: center;
    padding-block: 10rem;
    background-color: rgb(41, 24, 71);
    color: white;

    .form-container {
        width: 500px;
        margin: auto;

        .form-label {
            padding-inline-start: 125px;
            float: left;
        }

        .form-input,.error-input {
            width: 250px;
            height: 30px;
            border-radius: 5px;
            margin-block: 10px;
        }

        .error-display {
            margin: auto;
            text-align: left;
            padding-inline-start: 126px;
            color:#fc8181;
            font-size: 13px;
        }

        input.error-input,
        select.error-input {
            border: 3px solid #fc8181;
        }

        .login-button {
            margin-block-start: 15px;
        }
        .login-button:disabled{
            opacity: 0.35;
            color:wheat;
        }
    }
}